* {
    box-sizing: border-box;
}

@font-face {
    font-family: "Josefin Sans";
    src: url(https://fonts.google.com/specimen/Josefin+Sans);
    font-weight: 400, 700;
}

body {
    background-color: hsl(0, 0%, 98%);
    font-family: "Josefin Sans";
}

#wrapper {
    position: relative;
    overflow: hidden;
    min-height: 100vh;
}

.todo-section {
    position: relative;
    padding-top: 50px;
}

.todo-section:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    height: 266px;
    background-image: url(bg-desktop-light.jpg);
    background-repeat: no-repeat;
    background-position: 50% 50%;
    background-size: cover;
}

.todo-app {
    position: relative;
    max-width: 400px;
    width: 100%;
    margin: 0 auto;
}

.todo-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 40px;
}

.theme-switch {
    display: block;
    width: 30px;
}

.theme-switch img {
    display: block;
    width: 100%;
}

.theme-switch :last-child {
    display: none;
}

.theme-switch :first-child {
    display: block;
}

h1 {
    text-transform: uppercase;
    font-size: 40px;
    color: white;
    font-weight: 700;
    letter-spacing: 10px;
}

.add-form {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    background-color: white;
    border-radius: 6px;
    margin-bottom: 30px;
}

input[type="submit"] {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    margin-right: 15px;
    font-size: 0;
    background-color: white;
    transition: background-color .3s linear;
}

input[type="submit"]:hover {
    background-image: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

input[type="text"] {
    color: hsl(235, 19%, 35%);
    font-family: 'Josefin Sans', sans-serif;
}

ul {
    border-radius: 6px;
}

.add-field {
    width: calc(100% - 30px);
    border: none;
}

.todo-list {
    background-color: white;
    border-radius: 6px;
}

.todo-list li {
    display: flex;
    align-items: center;
    padding: 15px 20px;
    border-bottom: 1px solid gray;
}

.todo-list label {
    color: hsl(235, 19%, 35%);
    position: relative;
    width: calc(100% - 30px);
    height: 20px;
    padding-left: 40px;
    transition: color .3s linear;
    cursor: pointer;
}

.todo-list label:before {
    content: '✔';
    background-color: white;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
    width: 20px;
    height: 20px;
    border-radius: 50%;
    border: 1px solid gray;
    color: white;
    background-size: 100%;
    background-position: 50% 50%;
    transition: border-color .3s linear;
}

.todo-list label:hover {
    color: rgb(60, 0, 128);
}

.todo-list label:hover:before {
    border-color: rgb(60, 0, 128);
}

.list-block input[type="checkbox"] {
    position: absolute;
    top: -9999px;
    left: -9999px;
}

.list-block {
    box-shadow: 0 0 20px gray;
    margin-bottom: 30px;
    border-radius: 6px;
}

.todo-list input[type="checkbox"]:checked+label:before {
    background-image: linear-gradient(45deg, hsl(192, 100%, 67%), hsl(280, 87%, 65%));
}

.footer {
    background-color: white;
    display: flex;
    justify-content: space-between;
    padding: 20px 15px;
    color: hsl(235, 19%, 35%);
    font-size: 11px;
    border-radius: 6px;
}

.list-button {
    display: flex;
    justify-content: space-between;
}

.list-button li {
    margin-left: 10px;
    background-color: white;
}

a {
    text-decoration: none;
    cursor: pointer;
    transition: color .3s linear;
    font-size: small;
    color: hsl(231, 3%, 43%);
    font-weight: 400;
    transition: all .3s linear;
}

a:hover {
    color: rgb(8, 8, 10);
    font-weight: 700;
}

.subscribe {
    text-align: center;
    color: hsl(236, 9%, 61%);
    font-weight: 500;
    font-size: small;
}

.filter {
    background-color: hsl(236, 33%, 92%);
    /* color: hsl(233, 11%, 84%);
    color: hsl(236, 9%, 61%);
    color: hsl(235, 19%, 35%); */
    color: hsl(235, 21%, 11%);
    color: hsl(235, 24%, 19%);
    color: hsl(234, 39%, 85%);
    color: hsl(236, 33%, 92%);
    color: hsl(234, 11%, 52%);
    color: hsl(233, 14%, 35%);
    color: hsl(237, 14%, 26%);
}

label.completed {
    color: hsl(240, 15%, 46%);
    text-decoration: line-through;
}

.active {
    background-color: rgb(255, 244, 251);
    color: rgb(1, 80, 73);
}

.dark-theme {
    background-color: hsl(235, 21%, 11%);
    color: hsl(234, 39%, 85%);
}

.dark-theme .todo-section:before {
    background-image: url(bg-desktop-dark.jpg);
}

.dark-theme .theme-switch :last-child {
    display: block;
}

.dark-theme .theme-switch :first-child {
    display: none;
}

.dark-theme .list-block ul, .dark-theme .footer, .dark-theme .footer li, .dark-theme .add-field, .dark-theme form, .dark-theme input[type="submit"], .dark-theme .todo-list input[type="checkbox"], .dark-theme .todo-list label:before {
    background-color: hsl(235, 24%, 19%);
}

.dark-theme input[type="submit"], .dark-theme .todo-list label:before {
    border: 1px solid hsl(234, 11%, 52%);
    color: hsl(235, 24%, 19%);
}

.dark-theme .list-block, .dark-theme .mobile-filters {
    box-shadow: 0 0 20px rgb(0, 0, 0);
}

.pressButton {
    color: rgb(40, 77, 243);
    font-weight: 700;
}

.dark-theme a:hover {
    color: hsl(226, 95%, 61%);
}

.dark-theme .todo-list input[type="checkbox"]:checked+label:before {
    color: hsl(0, 0%, 98%);
}

.dark-theme .active {
    background-color: hsl(234, 43%, 21%);
}

.dark-theme .todo-list label {
    color: hsl(231, 3%, 43%);
}

.dark-theme p, .dark-theme span {
    color: hsl(231, 3%, 43%);
}

.mobile-filters {
    margin-bottom: 30px;
    box-shadow: 0 0 20px gray;
    border-radius: 6px;
    padding: 15px;
}

.mobile .todo-app {
    max-width: 340px;
}